.pokemonCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  text-align: center;
  overflow: hidden;
  height: 250px;
  &__expand {
    width: 500px;
  }
  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  &__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__imagePlaceholder {
      padding: 0;
      width: 100%;
      position: relative;
      max-height: inherit;
      object-fit: cover;
      img {
        height: 110px;
        width: 100%;
      }
      &::after {
        content: "";
        background: #000000 0% 0% no-repeat padding-box;
        opacity: 0.5;
        position: absolute;
        display: block;
        top: 0;
        width: 100%;
        height: 100%;
      }
    }
    &__title {
      font-size: 1.5rem;
      color: #000000;
      text-transform: capitalize;
      font-weight: 700;
      margin: 1rem;
      padding-bottom: 0.5rem;
      text-align: initial;
      width: 88%;
      float: left;
    }
  }
  &__content {
    padding: 2px 16px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }
}
.popover-body {
  .details-section {
    p {
      font-weight: bold;
      margin-bottom: 0.4rem;
      margin-top: 0.4rem;
    }
    ul {
      list-style: none;
      padding: 0;
    }
  }
  .accordion {
    .link {
      padding: 0;
    }
  }
}
