.pokeDex-wrapper {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    .loader{
        width: 100px;
    }
    &__heading {
        display: flex;
        justify-content: center;
    } 
    &__cards {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-auto-rows: auto;
        grid-gap: 1rem; 
        margin-top: 2rem;  
        overflow: hidden;
    } 
}